@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  margin: 20px 40px;
}
img {
  width: 100%;
}
h1,
h2 {
  font-weight: 300;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 13px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 0;
}
.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn-dark {
  background-color: #047aed;
  color: #fff;
  font-weight: bold;
}
.center {
  text-align: center;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

@media (max-width: 768px) {
  /* body {
    text-align: center;
  }
  .App {
    overflow-x: hidden;
  }

  .home_main {
    min-height: 100vh;
  }
  .home_main img {
    margin-top: -50px;
    margin-bottom: 200px;
  }
  .work-env img {
    margin: auto;
  }
   */
  img {
    width: 100%;
  }

  /* .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    background-color: #5b86e5;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
  }
  .navbar ul li span {
    display: none;
  } */
  /*
  .home_main .grid {
    position: absolute;
    top: 30%;
    min-height: 100%;
    margin-bottom: 140px;
  }
  .home .grid {
    grid-template-columns: 100%;
  } */
}
